@import "tailwindcss";

:root {
  --background: #f2f2f2;
  --foreground: #323232;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  display: flex;
}
.title {
  font-size: 32px;
  font-weight: 900;
}


.content{
  margin: 2.5rem 0rem;
}