.commonButton {
  /* ここで共通のデザインを定義 */
  background-color: #323232;
  color: white;
  padding: 0.75rem 1.5rem;
  border: none;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.2s;
}

.commonButton:hover {
  background-color: #626262;
  color: white;
}

.commonButton:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}